@font-face {
    font-family: 'rioGrande';
    src: url('fonts/RioGrande.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'rioGrande';
}

body {
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    
    background-image: url('Grafics/background4.webp');
    background-position: center;
    background-size: cover;
}

.mainContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 36px;
}

h1 {
    font-size: 48px;
}

canvas {
    
    background-color: black;
    border-radius: 20px;
    border: solid black 2px;
}