@font-face {
    font-family: 'rioGrande';
    src: url('fonts/RioGrande.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'rioGrandeStriped';
    src: url('fonts/RioGrande_Striped.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'rioGrande';
}

body {
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    
    background-image: url('Grafics/background4.webp');
    background-position: center;
    background-size: cover;
}

button {
    font-family: 'rioGrandeStriped';
    font-size: 24px;
    padding: 8px 16px;
    border: 2px solid #FFDA00;
    border-radius: 10px;
    background-color: #ffaa00a4;
    cursor: pointer;
    transition: all 0.3s;
}



.mainContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 36px;
}

h1 {
    font-size: 48px;
    letter-spacing: 2px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

.instructions {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;

}

.singleInstruction {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.reverse{
    flex-direction: row-reverse;
}

.separator {
    height: 30px;
    width: 2px;
    background-color: black;
}

.arrow {
    width: 40px;
    height: 30px;
}

.btnName {
    font-family: 'rioGrandeStriped';
    font-size: 36px;
}

canvas {
    display: block;
    background-color: black;
    border-radius: 20px;
    border: solid black 2px;
    
}

.canvasContainer {
    width: 720px;
    height: 480px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
}

.pauseBtn {
    height: 36px;
    border-radius: 18px;
    position: absolute;
    background-color: #ffaa00a4;
    background-image: url('./Grafics/pause-icon.png');
    background-size: 64px;
    background-position: center;
    top: 10px;
    right: 10px;
    
}

.soundBtn {
    height: 36px;
    border-radius: 18px;
    position: absolute;
    background-color: #ffaa00a4;
    background-image: url('./Grafics/sound-icon.png');
    background-size: 28px;
    background-position: center;
    top: 10px;
    right: 60px;
    
}

.active {
    background-image: url('./Grafics/no-sound-icon.png');
}

.menuBtn {
    height: 36px;
    border-radius: 18px;
    position: absolute;
    background-color: #ffaa00a4;
    background-image: url('./Grafics/menu-icon.png');
    background-size: 28px;
    background-position: center;
    top: 10px;
    right: 110px;
    
}

.startScreen {
    width: 800px;
    height: 480px;
    padding-top: 36px;
    background-image: url('./Grafics/img/9_intro_outro_screens/start/startscreen_1.png');
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    border: solid black 2px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.endScreen {
    width: 800px;
    height: 480px;
    border-radius: 20px;
    border: solid black 2px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    
}



.resetButton {
    position: absolute;
    top: 36px;
}

.endScreenImg {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.startImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.scale {
    scale: 1;
}

.opacity {
    opacity: 1;
}

/* Smartphone */
@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
    }
}

/* Smartphone */
@media only screen and (max-height: 480px) {
    canvas {
        height: 100dvh;
    }

    h1 {
        display: none;
    }
}

.dNone {
    display: none;
}